* {
    box-sizing: border-box;
}

body {
    background-color: #FDFFFC;
    color: #01213b;
    padding-right: 4%;
    padding-left: 4%;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    height: 100vh;

}

nav {
    height: 10vh;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
}
main{
    width: 100%;
}
.blue {
    color: #0000ff;
}

.bold {
    font-weight: bold;
}

p {
    margin: 0;
}

#about, #contact {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*section {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}*/
section.profile{
    height: 15vh;
}
section.contact{
    height: 50%;
}
section.github-linkedin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20%;
}

img.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.small {
    font-size: 0.7rem;
}

.orange {
    color: #ad663d;
}
div.contact{
    padding-top: 9vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
}
a:visited {
    color: #01213b;;
  }
  
a:focus, a:hover{
    color: #ad663d;
}
#quiz-app-header{
    display: flex;
    width: 50%;
    margin: auto;
}
#quiz-app-explanation{
    width: 50%;
}
#portfolio-links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#quiz-app-img{
    margin: auto;
    width: 50%;
}
@media (min-width: 1000px){
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    main {
        padding-top: 0;
        align-self: center;
    }
    nav{
        align-items: center;
    }
    hr {
        display: none;
    }
    section{

    }
}