* {
    box-sizing: border-box;
}

body {
    background-color: #FAF4F1;
    color: #01213b;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    height: 100vh;

}

nav {
    background-color: #406487;
    height: 10vh;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
}

main {
    width: 100%;
    height: 90vh;
}

.main-portfolio {
    margin-top: 5vh;
}

.green {
    color: #74C4AC
}

.about {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding-right: 4%;
    padding-left: 4%;
    margin: 0;
}

.main-contact {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

h1,
.about>p {
    width: 100%;
}

section.profile {
    height: 15vh;
    text-align: center;
}

section.contact {
    height: 50%;
}

nav>button {
    color: #FAF4F1;
    ;
}

section.github-linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20%;
}

img.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.description {
    width: 70%;
    margin: auto;
}

.small {
    font-size: 0.85rem;
}

.orange {
    color: #ad663d;
}

div.contact {
    padding-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
}

a:visited,
a {
    color: #01213b;
}

.quiz-app-jpg {
    border: 3px solid #E6AC4D;
    border-radius: 1.5%;
}

a:hover {
    color: #E6AC4D;
}

div.contact {
    width: 80%;
    align-self: center;
}

hr {
    width: 100%;
    height: 1.5px;
}

.quiz-app-header {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.quiz-app-explanation {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.portfolio-links {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quiz-app-img {
    margin: auto;
    padding: 2%;
    width: 50%;
    text-align: center;

}

.quiz-app-jpg {
    max-width: 100%;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

.technologies-list {
    text-align: center;
}

@media (min-width: 800px) {
    .main-portfolio {
        display: flex;
    }

    .large-left,
    .large-right {
        width: 50%;
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        line-height: 24px;
        padding-right: 4%;
        padding-left: 4%;
    }

    main {
        padding-top: 0;
        align-self: center;
        width: 75%;
        justify-content: center;
    }

    .about,
    .main-portfolio {
        width: 65%;
        margin: auto;
    }

    .main-portfolio {
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100vh;
    }

    button.eli-reiner,
    button.contact,
    button.portfolio {
        height: 10vh;
        width: 50%;
        border: none;
        background: none;
    }

    button {
        outline: none;
    }

    button:hover {
        border: 1.5px #E6AC4D solid;
        border-radius: 1.5%;

    }

    button:focus button:active {
        border: none;
    }

    hr {
        display: none;
    }
}