* {
    box-sizing: border-box;
}

body {
    background-color: #FDFFFC;
    color: #01213b;
    padding-right: 4%;
    padding-left: 4%;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    height: 100vh;

}

nav {
    height: 10vh;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
}

main {
    width: 100%;
    height: 90vh;
}

#portfolio {
    margin-top: 5vh;
}

.blue {
    color: #0000ff;
}

.bold {
    font-weight: bold;
}

p {
    margin: 0;
}

#about {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

#contact {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

h1,
#about>p {
    width: 100%;
}

section.profile {
    height: 15vh;
    text-align: center;
}

section.contact {
    height: 50%;
}

section.github-linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20%;
}

img.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.small {
    font-size: 0.85rem;
}

.orange {
    color: #ad663d;
}

div.contact {
    padding-top: 9vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
}

a:visited,
a {
    color: #01213b;
    ;
}

a:focus,
a:hover {
    color: #ad663d;
}

div.contact {
    width: 80%;
    align-self: center;
}

hr {
    width: 100%;
    height: 1.5px;
}

#quiz-app-header {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#quiz-app-explanation {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#portfolio-links {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#quiz-app-img {
    margin: auto;
    padding: 2%;
    width: 50%;
    text-align: center;

}

.quiz-app-jpg {
    max-width: 100%;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

@media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main {
        padding-top: 0;
        align-self: center;
        width: 75%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100vh;
    }
    button.eli-reiner, button.contact, button.portfolio{
        height: 10vh;
    }
    hr {
        display: none;
    }
}